.mainBox {
  display: flex;
  flex-direction: row;
}

.tasksColumn {
  flex-direction: column;
  width: 70%;
}

.buttonCreateColumn {
  flex-direction: column;
  width: 30%;
}

.taskCard {
  width: 100%;
  height: 180px;
  background: rgb(230, 230, 230);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); /* Легкая черная тень */
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taskCard:hover {
  cursor: pointer;
  background: rgb(221, 221, 221);
}

.emptyList {
  width: 100%;
  height: 150px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); /* Легкая черная тень */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  font-family: 'BebasNeue', sans-serif;
}

.taskHeader {
}

.taskName {
  width: 100%;
  align-items: center;
  position: relative;
  top: -3px;
  left: 30px;
  font-size: 20px;
}

.taskInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  text-transform: uppercase;
  font-family: 'BebasNeue', sans-serif;
  font-weight: 700;
  justify-content: space-between;
}

.taskButtons {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonCreate {
  width: 400px;
  height: 150px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #623fc0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  margin-left: auto;
}

.buttonCreateContent {
  padding: 0 50px 0 50px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.buttonCreateContent .buttonCreateTitle {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  font-family: 'BebasNeue', sans-serif;
  text-decoration: none;
}

.buttonCreateContent .buttonCreatePara {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
  font-family: 'BebasNeue', sans-serif;
}

.buttonCreate:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttonCreate:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.buttonCreate:hover:before {
  transform: translateX(-100%);
}

.buttonCreate:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.buttonCreate:hover:after {
  transform: translateX(100%);
}

.buttonStart {
  /* width: 100px;
  height: 30px;
  border: 2px solid #047f16;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.8em;
  font-weight: 550;
  text-transform: uppercase;
  font-family: 'BebasNeue', sans-serif; */
  font-size: 1.5em;
  background-color: rgba(213, 213, 213, 0);
  border: none;
  align-items: center;
  color: rgb(70, 70, 70);
}

.buttonStart:hover {
  scale: 1.2;
  cursor: pointer;
}

.buttonStop {
  /* width: 100px;
  height: 30px;
  border: 2px solid #b30724;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.8em;
  font-weight: 550;
  text-transform: uppercase;
  font-family: 'BebasNeue', sans-serif; */
  font-size: 1.5em;
  background-color: rgba(213, 213, 213, 0);
  border: none;
  align-items: center;
  color: rgb(70, 70, 70);
}

.buttonStop:hover {
  scale: 1.2;
  cursor: pointer;
}

.pointActive {
  position: absolute;
  /* bottom: 5px;
  left: 5px; */
  width: 6px;
  height: 6px;
  background-color: rgb(0, 255, 0);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.pointActive::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 1px;
  background-color: rgb(0, 255, 0);
  border-radius: 25px;
  animation: loopActive 1s 0s infinite;
}

.pointInactive {
  position: absolute;
  /* bottom: 5px;
  left: 5px; */
  width: 6px;
  height: 6px;
  background-color: rgb(186, 11, 11);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.pointInactive::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 1px;
  background-color: rgb(186, 11, 11);
  border-radius: 25px;
  animation: loopInactive 1s 0s infinite;
}

@keyframes loopActive {
  0% {
    background-color: rgb(0, 255, 0);
    width: 1px;
    height: 1px;
  }
  100% {
    background-color: rgba(0, 255, 0, 0);
    width: 30px;
    height: 30px;
  }
}

@keyframes loopInactive {
  0% {
    background-color: rgb(186, 11, 11);
    width: 1px;
    height: 1px;
  }
  100% {
    background-color: rgba(0, 255, 0, 0);
    width: 30px;
    height: 30px;
  }
}

.skusLine {
  display: flex;
  gap: 5px;
  align-items: center;
  color: rgb(96, 96, 96);
}

.singleSku {
  color: black;
  display: flex;
  flex-direction: row;
  height: 30px; /* Уменьшаем высоту */
  min-width: 50px; /* Минимальная ширина прямоугольника */
  max-width: 150px; /* Максимальная ширина прямоугольника */
  background-color: white;
  line-height: normal; /* Убираем фиксированное вертикальное выравнивание */
  padding: 10px; /* Добавляем внутренние отступы для текста */
  box-sizing: border-box; /* Включаем отступы в размеры элемента */
  overflow: hidden; /* Скрываем текст, выходящий за пределы блока */
  text-overflow: ellipsis; /* Если текст не помещается, добавляем многоточие */
  white-space: nowrap;
  font-size: 10px;
  border-radius: 5px;
  align-items: center;
  border: 0.5px solid black;
  justify-content: flex-start;
}

.singleSku img {
  position: relative;
  right: 10px;
  margin-right: 10px;
  width: 20px;
  height: 30px;
  border-right: 1px #f5f2f2 solid;
}

.singleSku div {
  position: relative;
  right: 10px;
  font-size: 8px;
}

.taskNumbers {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  font-size: 15px;
  color: rgb(96, 96, 96);
  font-family: 'BebasNeue', sans-serif;
}

.numberText {
  display: flex;
  justify-content: center;
}

.category {
  min-width: 30px;
}

.price {
  min-width: 50px;
}

.deb {
  min-width: 50px;
}
