.dropdown {
  margin-left: 10px;
  position: relative;
  display: block;
  width: 160px;
  z-index: 1000;
  font-family: 'BebasNeue', sans-serif;
  text-transform: uppercase;
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.dropdownToggle {
  font-family: 'BebasNeue', sans-serif;
  height: 30px;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #8254ff;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); /* Легкая черная тень */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.dropdownToggle .arrow {
  font-size: 10px;
  transition: transform 0.3s ease;
}

.drowpdown .circle {
  font-size: 16px;
  width: 12px;
  height: 12px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dropdownToggle.open {
  background-color: #8254ff;
  color: white; /* Белый цвет текста */
}

.dropdownToggle.open .arrow {
  transform: rotate(90deg);
}

.dropdownMenu {
  overflow-y: auto;
  text-align: left;
  margin-top: 5px;
  height: 300px;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.2);
  width: 138px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdownMenu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdownItem {
  display: block;
  padding: 5px 0;
  cursor: pointer;
}

.dropdownItem input {
  margin-right: 8px;
}

.dropdownItem:hover {
  color: #8254ff; /* Фиолетовый цвет текста */
}

.dropdownClose {
  padding: 8px;
  background-color: #8254ff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  font-family: 'BebasNeue', sans-serif;
  text-transform: uppercase;
  margin-top: 5px;
  bottom: 0;
}

.dropdownClose:hover {
  background-color: #6a44d2;
}

.customCheckbox {
  width: 12px;
  height: 12px;
  border: 2px solid #8254ff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  transition: background-color 0.3s ease;
}

.dropdownItem input[type='checkbox'] {
  display: none;
}

.dropdownItem input[type='checkbox']:checked + .customCheckbox {
  background-color: #8254ff;
}

.dropdownActions {
  height: 70px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  margin: 0;
  padding: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 53%,
    rgba(255, 255, 255, 0.82) 87%,
    rgba(255, 255, 255, 0) 100%
  );
}

.dropdownReset {
  font-family: 'BebasNeue', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: #8254ff;
  display: flex;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dropdownReset:hover {
  color: #5a3ab3;
}
